/**
    Main styles
*/

.titles{
    text-align: center;
}

.myContainer{
    background-color: darkcyan;
    color: white;
    align-content: center;
    height: 100%;
}

.overviewHeader{
    display: block !important;
    text-align: center;
    background-color: darkcyan;
    color: white;
    height: 20%;
    min-height: 100px;
    padding: 20px 20px 10px 20px;
}

.contentContainer{
    background-color: white;
    z-index: 1;
    color: black;
    padding: 20px 20px 10px 20px;
    height: 40%;
    min-height: 400px;
    overflow-y: auto;
}

.footer{
    height: 40%;
    min-height: 100px;
}

/**
    Modal styles
 */
.showButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myShowButton{
    position: relative;
}

.moviesNum{
    color: red;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 500px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/**
    Form styles
 */
.numberReact{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.searchBar{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.check-style{
    margin-left: 10px;
}

/**
    Table styles
 */
.availableCol{
    text-align: center;
}

/**
    Footer
 */
.footer{
    padding: 20px;
}

.footerList{
    list-style-type: none;
    padding-left: 5px;
}
