<template>
    <div class="row contentContainer">
        <div class="col">
            <input class="searchBar" type="text" v-model="title" placeholder="Search a movie" />
            <br/>
            <br/>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr class="availableCol">
                    <th >Title</th>
                    <th >Director</th>
                    <th >Year</th>
                    <th >Narrative</th>
                    <th >Language</th>
                    <th >Available</th>
                    <th >Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(movie, index) in moviesSearch" v-bind:key="'comp-'+movie.title" >
                    <td>{{movie.title}}</td>
                    <td>{{movie.director}}</td>
                    <td>{{movie.year}}</td>
                    <td>{{movie.narrative}}</td>
                    <td>{{movie.language}}</td>
                    <td class="availableCol"><font-awesome-icon v-if="movie.available" icon="check-circle" /><font-awesome-icon icon="times-circle" v-if="!movie.available" /></td>
                    <td class="availableCol">
                        <button  v-bind:id="'button-' + index" @click="deleteMovie" class="btn btn-light myShowButton">
                            <font-awesome-icon  v-bind:id="'icon-' + index" icon="trash" />
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col showButton">
                    <button @click="showAdminView" class="btn btn-light myShowButton">
                        <font-awesome-icon icon="chevron-left" /> Back to main page
                    </button>
                </div>
                <div class="col showButton">
                    <button @click="showForm = true" class="btn btn-light myShowButton">
                        <font-awesome-icon icon="plus" /> Create movie
                    </button>
                </div>
            </div>
            <modal v-if="showForm" @close="showForm = false">
                <!--
                  you can use custom content here to overwrite
                  default content
                -->

                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                                <div class="modal-header">
                                    <slot name="header">
                                        <h3 slot="header">Create Movie</h3>
                                    </slot>
                                </div>

                                <form>

                                    <div class="modal-body">
                                        <slot name="body">
                                            <div class="form-group">
                                                <label for="mTitle">Title</label>
                                                <input class="numberReact form-control" type="text" id="mTitle" v-model="newMovie.title" placeholder="Movie title"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="mDirector">Director</label>
                                                <input class="numberReact form-control" type="text" id="mDirector" v-model="newMovie.director" placeholder="Max Mustermann"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="year">Year</label>
                                                <input class="numberReact form-control" type="number" min="1700" id="year" v-model="newMovie.year" />
                                            </div>
                                            <div class="form-group">
                                                <label class="form-check-label" for="mAvailable">Available</label>
                                                <input class="form-check-input check-style" type="checkbox" id="mAvailable" v-model="newMovie.available" />
                                            </div>
                                            <div class="form-group row">
                                                <div class="col">
                                                    <label for="mLanguage">Language</label>
                                                    <select class="numberReact form-control" v-model="newMovie.language" id="mLanguage">
                                                        <option disabled value="">Please select one</option>
                                                        <option>English</option>
                                                        <option>Spanish</option>
                                                        <option>German</option>
                                                        <option>Portuguese</option>
                                                        <option>Italian</option>
                                                        <option>Latin</option>
                                                        <option>French</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <label for="mNarrative">Narrative</label>
                                                    <select class="numberReact form-control" v-model="newMovie.narrative" id="mNarrative">
                                                        <option disabled value="">Please select one</option>
                                                        <option>Thriller</option>
                                                        <option>Science Fiction</option>
                                                        <option>Psichological Trhiller</option>
                                                        <option>Drama</option>
                                                        <option>Love</option>
                                                        <option>Comedy</option>
                                                        <option>Action</option>
                                                        <option>Animated</option>
                                                        <option>Anime</option>
                                                        <option>Documentary</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </slot>
                                    </div>

                                    <div class="modal-footer">
                                        <slot name="footer">
                                            <button  class="btn btn-primary myShowButton" @click="createMovie">
                                                Submit
                                            </button>
                                            <button class="btn btn-danger myShowButton" @click="showForm = false">
                                                Close
                                            </button>
                                        </slot>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </transition>
            </modal>
        </div>
    </div>
    
</template>

<script>
    export default {
        name: "AdminView",
        props: {
            movies: Array,
            showAdmin: {
                type: Boolean
            }
        },
        data: function () {
            return {
                showForm: false,
                title: "",
                newMovie: {},
            };
        },
        computed: {
            moviesSearch() {
                return this.movies.filter((movie)=>{
                    if(movie.title.toLowerCase().includes(this.title.toLowerCase())){
                        return movie;
                    }
                })
            }
        },
        methods: {
            showAdminView(event) {
                event.preventDefault();
                this.$emit('goAdmin',!this.showAdmin);
            },
            deleteMovie(event) {
                let idx = event.target.id;
                let movies = this.movies;
                idx = parseInt(idx.substr(idx.length - 1));

                //  Erase item
                movies.splice(idx, 1);
                this.$emit('goMovies',movies);
            },
            createMovie(event){
                event.preventDefault();
                let movies = this.movies;
                movies.push(this.newMovie);
                this.newMovie = {};
                this.showForm = false;
            },
        },
    }
</script>

<style scoped>

</style>