<template>
  <div class="row footer">
    <div class="col showButton">
      <ul class="footerList">
        <li><b>Author: </b>Cesar Quintero Arias</li>
        <li><b>Contact: </b>+49 1767 3411 597</li>
        <li><b>E-Mail: </b>cequinteroar@unal.edu.co</li>
        <li><b>Expected Job Position: </b>Software Developer - FrontEnd Developer</li>
        <li><b>Framework used: </b>React JS</li>
      </ul>
    </div>
    <div class="col showButton">
      <ul class="footerList">
        <li><b>Type of application: </b>Single-page application (SPA)</li>
        <li><b>Previous experience with Vue: </b> null </li>
        <li><b>Powered by: </b>Vue, Javascript, Bootstrap, HTML5, CSS, Vue Font awesome</li>
      </ul>
    </div>
  </div>
</template>

<script>
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import '../styles/App.css';
</style>
