<template>
    <div class="contentContainer">
        <div class="col">
            <h1 class="titles"><b>FRONT END EXERCISE</b></h1>
            <h1>Create a webpage to create / delete movies</h1>
            <h2>Requirements:</h2>
            <p>Create a webpage that contains the following sections:</p>
            <ul>
                <li>An overview page with the description of the exercise, the author and the number of movies that have
                    already been created.</li>
                <li>A page that shows the list of created movies. A movie is defined by its title.</li>
                <li>It should be possible to add new movies or delete existing ones.</li>
                <li>The page should allow to filter the existing movies with a search bar.</li>
            </ul>
            <h2>Acceptance Criteria:</h2>
            <p>The candidate should design and create a Vue project that meets the requirements described above.
                It will not only valued a working exercise but also:</p>
            <ul>
                <li>How the components are organized and code quality.</li>
                <li>Used frameworks.</li>
                <li>How in memory data is handled</li>
                <li>A single unit test for a feature that the candidate consider. It is not required to do unit tests for all the
                    features.</li>
            </ul>
            <h2>Clarifications:</h2>
            <ul>
                <li>It is not expected to have a real connection with any backend.</li>
                <li>It is not expected to persist the movies when the page is fully refreshed.</li>
                <li>It is not expected to use any pagination technique.</li>
                <li>It is not expected to design the frontend for a mobile device, target device will be a 13 inches or higher
                    laptop.</li>
            </ul>
            <div class="row">
                <div class="col showButton">
                    <button id="show-modal" @click="showModal = true" class="btn btn-light myShowButton">
                        <font-awesome-icon icon="eye" /> Show created movies
                    </button>
                </div>
                <div class="col showButton" @click="showAdminView">
                    <button class="btn btn-light myShowButton">
                        <font-awesome-icon icon="database"/> Administrate movies
                    </button>
                </div>
            </div>
            <modal v-if="showModal" @close="showModal = false">
                <!--
                  you can use custom content here to overwrite
                  default content
                -->

                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-container">
                                <div class="modal-header">
                                    <slot name="header">
                                        <h3 slot="header">Created Movies</h3>
                                    </slot>
                                </div>

                                <div class="modal-body">
                                    <slot name="body">
                                        At this moment, <b class="moviesNum">{{movies.length}}</b> movies have been created
                                    </slot>
                                </div>

                                <div class="modal-footer">
                                    <slot name="footer">
                                        <button class="btn btn-danger myShowButton" @click="showModal = false">
                                            Close
                                        </button>
                                    </slot>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition>
            </modal>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Overview",
        props: {
            movies: Array,
            showAdmin: {
                type: Boolean
            }
        },
        data: function () {
            return {
                showModal: false
            };
        },
        methods: {
            showAdminView(event) {
                event.preventDefault();
                this.$emit('goAdmin',!this.showAdmin);
            },
        },
    }
</script>

<style scoped>
    @import '../styles/App.css';
</style>