<template>
  <div class="myContainer" >
    <div class="row overviewHeader" >
      <h1 class="titles">Frontend Excercise: Admin my movies</h1>
    </div>
    <Overview v-if="!showAdmin" :movies="movies" :showAdmin="showAdmin" @goAdmin="onClickAdmin" />
    <AdminView v-if="showAdmin" :movies="movies" :showAdmin="showAdmin" @goAdmin="onClickAdmin" @goMovies="onUpdate" />
    <Footer />
  </div>
</template>

<script>
import Footer from './components/Footer.vue'
import Overview from "./components/Overview";
import myData from './movieDB/movies.json';
import AdminView from "./components/AdminView";

export default {
  name: 'app',
  data: function(){
    return{
      showAdmin: false,
      movies: myData
    }
  },
  components: {
    AdminView,
    Footer,
    Overview
  },
  methods: {
    onClickAdmin () {
      this.showAdmin = !this.showAdmin;
    },
    onUpdate(value){
      this.movies = value;
    },
  }
}
</script>

<style>
  @import './styles/App.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
